body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  /* -webkit-perspective: 500px;
  perspective: 500px; */
  /* perspective-origin:center center; */
}
.box {
  border: 1px solid red;
  height: 500px;
  position: relative;
}
.wrapper {
  -webkit-transition: all 1s ease-in;
  transition: all 6s ease-in;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  /* margin: 100px auto; */
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-top: 1px solid red;
  border-right: 1px solid gold;
  border-bottom: 1px solid green;
  border-left: 1px solid blue;
  border-width: 2px;
}
 .wrapper.top {
   top: 100px;
   left: 200px;
 }
 .wrapper.bottom {
  bottom: 100px;
  right:200px;
}
.wrapper div {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-position: 50% 50%;
    background-size: 150px;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
    color: #FFF;
    text-align: center;
    text-shadow: 0 1px rgba(0,0,0,.3);
}
 
.side-one {
  z-index: 400;
  background: #50c6db;
}
 
.side-two {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
   background: #ef4e65 ;
}
 
.wrapper:hover {
  -webkit-transform: rotateY(-1turn);
  transform: rotateY(-1turn);
}